body {
  background: #f3f4f6;
  padding: 40px;
  font-family: system-ui, sans-serif;
}

/* Style the card, avatar, text, and button! */
.profile-card {
  text-align: center;
  max-width: 375px;
  border: 2px solid;
  background: white;
  padding: 40px;
  border-radius: 10px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #e5e7eb;
}

.name {
}

.bio {
}

.follow-btn {
  background-color: #ede0d4;
  color: #7f5539;
  border: none;
  border-radius: 9999px;
  padding: 10px 20px;
}
.chart-card {
  max-width: 375px;
  border: 2px solid;
  background: white;
  padding: 20px 20px 10px;
  border-radius: 10px;
  margin-top: 20px;
}